<footer>
  <div class="container">
    <a href="https://forum.opencart.name" target="_blank"><b>{{ text_project_re }}</b></a>|
    <a href="https://www.opencart.com" target="_blank">{{ text_project }}</a>|
    <a href="http://docs.opencart.name/ru-ru/introduction/" target="_blank"><b>{{ text_documentation }}</b></a>|
    <a href="https://forum.opencart.com" target="_blank">{{ text_support }}</a>
  </div>
</footer>
</body></html>
